<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Link to image:</strong>
  <%= @offer.link_to_image %>
</p>

<p>
  <strong>Is capped:</strong>
  <%= @offer.is_capped %>
</p>

<p>
  <strong>Epc:</strong>
  <%= @offer.EPC %>
</p>

<p>
  <strong>Lp offer name:</strong>
  <%= @offer.lp_offer_name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @offer.rank %>
</p>

<p>
  <strong>Zlink:</strong>
  <%= @offer.zlink %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
